.userDetailsContainer {
  padding: 0.5rem 0.5rem;
  display: flex;
  background-color: white;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 10px;
  gap: 10px;
  -webkit-box-shadow: 0px 6px 5px 0px rgba(185, 189, 203, 255);
  -moz-box-shadow: 0px 6px 5px 0px rgba(185, 189, 203, 255);
  box-shadow: 0px 6px 5px 0px rgba(185, 189, 203, 255);
}

@media screen and (min-width: 501px) {
  .userDetailsContainer {
    position: absolute;
    top: 13px;
    right: 13px;
  }
}
